.description {
    display: none;
    text-align: justify;
}

.mf-item .description {
    margin-left: 13px;
}

.visible .description {
    display: block;
}

.racedesc,
.fractdesc {
    display: none;
}

.racedesc br {
    display: block;
}

#display-profile strong:not(.warn) {
    cursor: pointer;
}

#display-profile strong:not(.warn):hover {
    text-decoration: underline;
}

.sig-demo {
    position: relative;
}