.sat_linkvisits caption {
    padding-top: 1em;
    font-weight: bold;
    border-top: 1px dashed;
}

#brd-shortlinks th,
#brd-shortlinks td,
#brd-linkvisits th,
#brd-linkvisits td {
    padding: 1em 0;
}

#brd-linkvisits td {
    padding-right: 1em;
}

#brd-shortlinks .tc0 {
    width: 50%;
}

#brd-shortlinks tbody [type="button"] {
    font-family: 'Awesome';
    font-size: 16px;
    line-height: 28px;
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 0;
    padding: 0;
}
